/* header */
img{
    min-width: 100%;
}

.header{

    background: #242424;
    }
    .header-logo{}
    .header-logo img{
        width: 280px;
        margin-top: 8px;
    }
    
    /* manu css */
    
    .header-manu{
        text-align: center;
    }
    .header-manu ul{
        margin: 0;
        padding: 0;
    }
    .header-manu ul li{
        display: inline-block;
    }
    .header-manu ul li a{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        padding: 33px 20px;
        font-size: 22px;
    }
    .header-manu ul li:hover >a{
        color:#f3970c ;
        transform: scale(1.2);
        transition: .5s;
    }
    .hoveraffect::after{
        content: "";
        width: 0;
        height: 3px;
        background-color: #69c40d;
        display: block;
    }
    .hoveraffect:hover::after{
        width: 100%;
        transition: .5s;
    }
    
    
    /* dropdown css */
    
    .header-manu ul li{
        position: relative;
    }
    .header-manu ul li ul {
        position: absolute;
        left: -29px;
        top: 100%;
        width: 280px;
        background-color: rgb(36, 36, 36);
        border-top: 3px solid rgb(243, 151, 12);
        opacity: 0;
        visibility: hidden;
    }
    .header-manu ul li:hover ul{
        opacity: 1;
        visibility: visible;
        z-index: 2;
    }
    .header-manu ul li ul li{}
    .header-manu ul li ul li a{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    
    /* btton css */
    
    .btton{
        text-align: right;
    }
    .btton button{
        border: none;
        margin-top: 28px;
        padding: 13px 23px;
        margin-right: 12px;
        border-radius: 15px;
        background: #f3970c;
        color: #fff;
        font-size: 17px;
        font-weight: bold;
    }
    .btton button:hover{
        background-color:#69c40d ;
        transition: .5s;
    }
    .btton i {
        color: #fff;
        padding: 15px 14px;
        background: #f3970c;
        font-size: 20px;
        border-radius: 106px;
    }
    .btton i:hover{
        background-color:#69c40d ;
        transition: .5s;
    }

    /* banner css */

    .banner{
        background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(./img/meat-1155132_1920.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        padding: 250px 0;
    }
    .banner{
        
    }
    .baner-text{
        color: #fff;
        position: relative;
        top: -60px;
        left: 0;
        z-index: 1;
    }
    .baner-text h1{
    font-weight: bold;
    font-size: 45px;
}
    .baner-text p{
    width: 800px;
    margin: auto;
    margin-top: 25px;
}

.bbtn button {
    border: none;
    margin-top: 30px;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    background: #f3970c;
    color: #fff;
    border-radius: 20px;
}
.bbtn button:hover{
    background-color: #69c40d;
    transition: .5s;
}

/* service css */

.service{

background: #202020;

padding: 70px 0;
}
.stext h1{
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 60px;
}
.service-item{
    overflow: hidden;
}
.service-item img{
    width: 350px;
    border: 2px solid #fff;
    transition:.5s;
    
    
}
.service-item img:hover{
    transform: scale(1.2);
    
}


.service-item1{
    margin-bottom: 50px;
}
.service-item2{
    margin-bottom: 50px;
}
.service-item3{
    margin-bottom: 50px;
}

.sbtn button {
    border: none;
    padding: 12px 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #f3970c;
    color: #fff;
}

.sbtn button:hover{
    background-color: #69c40d;
    transition: .5s;
}

/* introdic css */

.introdic{
    padding: 70px 0;
    text-align: center;
    background: #b88c4a;
}
.intro-text-head {
    color: rgb(255, 255, 255);
    margin-bottom: 140px;
}
.intro-text-head h1 {
    margin-bottom: 30px;
    font-size: 43px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
}
.intro-text-head p {
    width: 630px;
    margin: auto;
}

.chef{
    /* margin-top: 50px; */
    overflow: hidden;
    border-radius: 25%;
}

.chef img{
    width: 300px;
    height: 300px;
    border-radius: 25%;
    overflow: hidden;
    transition: .5s;

    position: relative;
   
}
.chef img:hover{
    transform: scale(1.2);
    border-radius: 25%;
}
.titlen h2{
    color: #fff;
    margin-top: 30px;
}

/* contect css */

.contect {
    background-color: #646f70;
    text-align: center;
    padding: 90px 0;
}
.contact-header{}
.contact-header h1 {
    color: #fff;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.forms {
    width: 800px;
    margin: auto;
}
.form-control {
    margin-bottom: 20px;
}

.contect-btn{}
.contect-btn button {
    border: none;
    padding: 13px 40px;
    border-radius: 10px;
    margin-right: 15px;
    font-size: 20px;
    background-color:#f3970c;
    color: #fff;
}

.contect-btn button:hover{
    background-color: #69c40d;
    transition: .5s;
}


/* footer css */

.footer{
    background-color:#242424;
    padding: 30px 0;
}
.fheader{}
.fheader b{
    color: #fff;
    font-size: 20px;
}
.ficone{
    text-align: right;
}
.ficone i{
    color: #fff;
    padding: 0 8px;
    font-size: 27px;
}
.ficone i:hover{
    color: #f3970c;
    transition: .5s;
}